
.font-f-df {
    font-family: Arial, sans-serif; /* Default font */
}

.font-f-times {
    font-family: 'Times New Roman', Times, serif;
}

.font-f-courier {
    font-family: 'Courier New', Courier, monospace;
}

/* color */
